<html>

<head>
  <!-- Required meta tags -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type='text/css' href=" {{ url_for( 'static' , filename='main.css')}}">

  <title>
    {%if title%}
    {{title}}
    {%else%}
    Places
    {%endif%}
  </title>
  <link rel="shortcut icon" href="{{url_for('static',filename='images/puneet.png')}}" />
</head>

<body id="_body">

  <header class="site-header">
    <nav id='_navbar' class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <div class='row'>
          <div class='col-3'>
            <img class="head-image" src='static\images\puneet.png'>
          </div>
          <div class="col-3">
            <a class="navbar-brand mr-2" style="padding-top: 10px;" href="/">Places</a>
          </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <!-- Left Side  -->
          </div>
          <!-- Navbar Right Side -->

          <!-- <ul class="navbar-nav mr-4">
            <li class="nav-item active"> <a class="nav-link" href="{{url_for('home')}}">Home</a></li>
            <li class="dropdown ">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Services</a>
              <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href=''>A</a>
                <a class="dropdown-item" href="">B</a>
       
              </div>
            </li>
            <li class="nav-item  "><a class="nav-link" > Blogs </a></li>
            <li class="nav-item "><a class="nav-link"> Contact Us </a></li>

          </ul> -->
        </div>
      </div>
    </nav>

  </header>


<!-- 

  <nav class='nav-side'>
    <ul>
      <li><a target="_blank" href="https://www.linkedin.com/company/ownzapinfosec"><i
            class="fab fa-linkedin-in"></i></a></li>
      <li><a target="_blank" href=" https://twitter.com/ownzap"><i class="fab fa-twitter"></i></a></li>
      <li><a target="_blank" href="https://facebook.com/OwnZapInfosec"><i class="fab fa-facebook-f"></i></a></li>
      <li><a target="_blank" href="mailto:info@ownzapinfosec.co.in"><i class="fas fa-at"></i></a></li>
      <li><a target="_blank" href="https://ownzapinfosec.tumblr.com/"><i class="fab fa-tumblr"></i></a></li>
      <li><a target="_blank" href="https://www.reddit.com/user/OwnZap_Infosec     "><i class="fab fa-reddit"></i></a>
      </li>

    </ul>
  </nav> -->



  {%block head%}
  {%endblock%}

  {%block why%}
  {%endblock%}

  {%block what%}
  {%endblock%}

  {%block blog%}
  {%endblock%}

  {%block service%}
  {%endblock%}

  <!-- Footer -->
  <footer class="page-footer font-small indigo">

  

    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style='background: #000000 '>
      <a href="https://www.ownzapinfosec.co.in/" style="color: antiquewhite;"> Places</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script> -->

  <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->



  <!-- <script>
    var nav = document.getElementById('_navbar');
    if (window.location.pathname == '/home' || window.location.pathname == '/') {
      particlesJS.load("particles-js", "{{ url_for('static', filename='particles.json') }}",
        function () {
          console.log("particles.json has loaded");
        });
      nav.style.display = 'none';
      window.onscroll = function () {
        if (window.pageYOffset > '400') {
          nav.style.display = 'flex';
          console.log("flex loaded ");
        }
        else {
          nav.style.display = 'none';
          console.log("flex has loaded");
        }
      }

    }

    else {
      nav.style.display = 'flex'
    }
  </script>
  <script>
    function ValidateEmail(inputText) {
      var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      if (inputText.value.match(mailformat)) {
        return true;
      }
      else {
        alert("You have entered an invalid email address!");
        inputText.focus();
        event.preventDefault();
        return false;
      }
    }

    function validate() {
      var list = document.getElementsByClassName("_text")
      for (i = 0; i < list.length; i++) {
        if (!Vtext(list[i])) {
          break;
        }

      }
    }
    function Vtext(inputtxt) {

      var letters = /^[A-Za-z. ]+$/;
      if (inputtxt.value.match(letters)) {

        return true;
      }
      else {
        alert("Invalid Character " + inputtxt.placeholder);
        inputtxt.focus();
        event.preventDefault();
        return false;
      }
    } 
  </script> -->

<!--Start of Tawk.to Script
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5f7449d7f0e7167d0014f33e/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  End of Tawk.to Script-->
</body>

</html>